* {
  margin: 0;
  padding: 0;
}
.ml-3 {
  margin-left: 12px;
}
.mr-3 {
  margin-right: 12px;
}
.mb-3 {
  margin-bottom: 12px;
}
.mt-3 {
  margin-top: 12px;
}
.mx-3 {
  margin: 0 12px;
}
.my-3 {
  margin: 12px 0;
}
.w-full {
  width: 100%;
}
.text-base {
  font-size: 16px;
}
.text-sm {
  font-size: 14px;
}
.text-xs {
  font-size: 12px;
}
.flex {
  display: flex;
}
.justify-between {
  justify-content: space-between;
}
.items-end {
  align-items: flex-end;
}
.flex-col {
  flex-direction: column;
}
.items-center {
  align-items: center;
}
.object-cover {
  object-fit: cover;
}
.justify-center {
  justify-content: center;
}
.content {
  width: 960px;
}
.content-item {
  flex-direction: column;
}
.content-item li {
  margin-bottom: 10px;
}
.content-item li img:nth-child(1) {
  width: 960px;
  height: 60px;
}
.content-item li .list {
  margin-top: 15px;
}
.content-item li .list ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.content-item li .list ul li::marker {
  content: none;
}
.content-item li .list ul li a {
  display: flex;
  flex-direction: column;
  width: 180px;
  text-decoration: none;
  color: #000;
}
.content-item li .list ul li a img {
  width: 180px;
  height: 180px;
}
.content-item li .list ul li a span {
  font-size: small;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.content-item li .list ul li a strong {
  color: red;
  display: flex;
  font-size: 20px;
  align-items: center;
}
.content-item li .list ul li a strong span {
  font-size: 12px;
  margin-left: 5px;
}
