* {
  margin: 0;
  padding: 0;
}
.ml-3 {
  margin-left: 12px;
}
.mr-3 {
  margin-right: 12px;
}
.mb-3 {
  margin-bottom: 12px;
}
.mt-3 {
  margin-top: 12px;
}
.mx-3 {
  margin: 0 12px;
}
.my-3 {
  margin: 12px 0;
}
.w-full {
  width: 100%;
}
.text-base {
  font-size: 16px;
}
.text-sm {
  font-size: 14px;
}
.text-xs {
  font-size: 12px;
}
.flex {
  display: flex;
}
.justify-between {
  justify-content: space-between;
}
.items-end {
  align-items: flex-end;
}
.flex-col {
  flex-direction: column;
}
.items-center {
  align-items: center;
}
.object-cover {
  object-fit: cover;
}
.justify-center {
  justify-content: center;
}
.menu-list {
  border: 1px solid #ccc;
}
.menu {
  width: 200px;
  margin-top: -170px;
}
.menu-header {
  height: 60px;
  background: url('https://image.rakuten.co.jp/arkstore/cabinet/20240618-162952.jpg') no-repeat;
  color: white;
}
.menu-search {
  margin: 12px 0;
  position: relative;
}
.menu-search input {
  height: 40px;
  width: 100%;
  border: 1px solid red;
  border-radius: 100px;
  text-indent: 10px;
  color: #292525;
  font-size: 14px;
}
.menu-search input:focus {
  outline: 1.5px solid red;
}
.menu-search img {
  position: absolute;
  right: 10px;
  top: 8px;
  width: 25px;
  height: 25px;
}
.menu-list-box ul li {
  position: relative;
  margin-bottom: 5px;
  width: 200px;
  height: 30px;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f5f5f5;
  cursor: pointer;
}
.menu-list-box ul li:hover {
  background: linear-gradient(90deg, #fdc237 0%, #fe7902 100%);
}
.menu-list-box ul li:hover .popover {
  display: flex;
}
.menu-list-box ul li:focus .popover {
  display: flex;
}
.menu-list-box ul li .left-icon {
  width: 26px;
  height: 26px;
  margin-left: 6px;
  border-radius: 50%;
}
.menu-list-box ul li .left-icon ~ div {
  flex: 1;
  padding-left: 5px;
  white-space: nowrap;
}
.menu-list-box ul li .right-icon {
  margin-right: 20px;
  width: 8px;
  height: 8px;
  border-top: 1px solid #cccc;
  border-right: 1px solid #cccc;
  transform: rotate(45deg);
}
.menu-list-box ul li .popover {
  width: 700px;
  display: none;
  position: absolute;
  padding: 0 !important;
  border-radius: 3px;
  left: 208px;
  background: #ffffff;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
  flex-direction: column;
}
.menu-list-box ul li .popover-tri-angle {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: transparent;
  left: -6px;
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
  border-left: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
.menu-list-box ul li .popover-item {
  display: flex;
  flex-wrap: wrap;
  border-bottom: 1px solid #d2d0d0;
}
.menu-list-box ul li .popover-item .label {
  display: flex;
  white-space: nowrap;
  align-items: center;
  min-width: 100px;
  padding: 10px;
  text-decoration: none;
  color: #000;
  background-color: #f0f0f0;
}
.menu-list-box ul li .popover-item .label:hover {
  color: red;
}
.menu-list-box ul li .popover-item .list {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  font-size: 13px;
  padding: 10px;
}
.menu-list-box ul li .popover-item .list a {
  text-decoration: none;
  color: #000;
}
.menu-list-box ul li .popover-item .list a:hover {
  color: red;
}
.menu-ads a img {
  width: 200px;
}
