.accordion {
  width: 250px;
  /* 二级手风琴 */
  /* 三级手风琴 */
  /* 没有二级直接三级三级手风琴 */
}
.accordion-item {
  margin-bottom: 5px;
}
.accordion-item input[type='checkbox'] {
  display: none;
}
.accordion-item label {
  display: block;
  padding: 10px;
  background-color: #f1eeee;
  cursor: pointer;
  font-weight: 600;
}
.accordion-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
  background-color: #f1eeee;
  position: relative;
}
.accordion-content::before {
  content: '';
  position: absolute;
  width: 1px;
  height: 100%;
  left: 20px;
  background: #ebebed;
}
.accordion .no-line::before {
  content: none;
}
.accordion .no-line .accordion-sub-item {
  padding-left: 0;
}
.accordion-sub-item {
  padding-left: 20px;
  background-color: #f8f8f8;
}
.accordion-sub-item label {
  background-color: #f8f8f8;
  font-weight: normal;
}
.accordion-sub-item .accordion-content::before {
  content: none;
}
.accordion-sub-sub-item {
  background-color: #e1e1e1;
}
.accordion-sub-sub-item label {
  background-color: #e1e1e1;
}
.accordion-sub-sub-item .list-wrapper {
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
  gap: 5px;
  justify-content: space-between;
  background-color: #e7e7e7;
  padding-left: 20px;
}
.accordion-sub-sub-item .list-wrapper a {
  text-decoration: none;
  list-style: none;
  width: 45%;
  background-color: #fff;
  padding: 3px;
  display: flex;
  align-items: center;
  text-indent: 0.5em;
  font-size: 14px;
  color: #000;
}
.accordion-sub-item-third .third-list {
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
  gap: 5px;
  justify-content: space-between;
}
.accordion-sub-item-third .third-list a {
  text-decoration: none;
  list-style: none;
  width: 45%;
  background-color: #fff;
  padding: 3px;
  display: flex;
  align-items: center;
  text-indent: 0.5em;
  font-size: 14px;
  color: #000;
}
.accordion-item input[type='checkbox']:checked + label + .accordion-content {
  max-height: 1000px;
}
.accordion-item input[type='checkbox']:not(:checked) + label + .accordion-content {
  max-height: 0;
}
