.accordion {
  width: 250px;
  @bgColor: #f1eeee;
  &-item {
    margin-bottom: 5px;
    input[type='checkbox'] {
      display: none;
    }
    label {
      display: block;
      padding: 10px;
      background-color: @bgColor;
      cursor: pointer;
      font-weight: 600;
    }
  }
  &-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
    background-color: @bgColor;
  }
  /* 二级手风琴 */
  &-sub-item {
    border-bottom: 1px solid #f9f9f9;
    label {
      background-color: #f8f8f8;
      font-weight: normal;
    }
  }

  /* 三级手风琴 */
  &-sub-sub-item {
    // margin-left: 40px;
    background-color: #e1e1e1;
    label {
      background-color: #e1e1e1;
    }

    .list-wrapper {
      display: flex;
      flex-wrap: wrap;
      padding: 5px;
      gap: 5px;
      justify-content: space-between;
      background-color: #f8f8f8;

      a {
        text-decoration: none;
        list-style: none;
        width: 45%;
        background-color: #fff;
        padding: 3px;
        display: flex;
        align-items: center;
        text-indent: 0.5em;
        font-size: 14px;
        color: #000;
      }
    }
  }

  /* 没有二级直接三级三级手风琴 */
  &-sub-item-third {
    .third-list {
      display: flex;
      flex-wrap: wrap;
      padding: 5px;
      gap: 5px;
      justify-content: space-between;
      a {
        text-decoration: none;
        list-style: none;
        width: 45%;
        background-color: #fff;
        padding: 3px;
        display: flex;
        align-items: center;
        text-indent: 0.5em;
        font-size: 14px;
        color: #000;
      }
    }
  }
}

.accordion-item input[type='checkbox']:checked + label + .accordion-content {
  max-height: 1000px;
}
.accordion-item input[type='checkbox']:not(:checked) + label + .accordion-content {
  max-height: 0;
}
