* {
  margin: 0;
  padding: 0;
}
.ml-3 {
  margin-left: 12px;
}
.mr-3 {
  margin-right: 12px;
}
.mb-3 {
  margin-bottom: 12px;
}
.mt-3 {
  margin-top: 12px;
}
.mx-3 {
  margin: 0 12px;
}
.my-3 {
  margin: 12px 0;
}
.w-full {
  width: 100%;
}
.text-base {
  font-size: 16px;
}
.text-sm {
  font-size: 14px;
}
.text-xs {
  font-size: 12px;
}
.flex {
  display: flex;
}
.justify-between {
  justify-content: space-between;
}
.items-end {
  align-items: flex-end;
}
.flex-col {
  flex-direction: column;
}
.items-center {
  align-items: center;
}
.object-cover {
  object-fit: cover;
}
.justify-center {
  justify-content: center;
}
.header {
  width: 100%;
}
.header header {
  width: 100%;
}
.header header a {
  width: 100%;
  cursor: pointer;
}
.header header a img {
  width: 100%;
  height: 80px;
  object-fit: cover;
}
.header .logo-and-search {
  position: relative;
  width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: flex-end;
  padding: 10px;
}
.header .logo-and-search .sale-img {
  position: absolute;
  right: 0;
  top: 0px;
}
.header .logo-and-search .input-with-menu {
  margin-left: 130px;
}
.header .logo-and-search .input-with-menu .input {
  position: relative;
  width: 550px;
}
.header .logo-and-search .input-with-menu .input input {
  height: 40px;
  width: 100%;
  border: 2px solid red;
  border-radius: 100px;
  text-indent: 10px;
  color: #292525;
  font-size: 14px;
}
.header .logo-and-search .input-with-menu .input input:focus {
  outline: 1.5px solid #f01303;
}
.header .logo-and-search .input-with-menu .input button {
  cursor: pointer;
  position: absolute;
  right: -2px;
  top: 2px;
  width: 77px;
  height: 40px;
  border-radius: 100px;
  background-color: #f01303;
  border: none;
}
.header .logo-and-search .input-with-menu .menu {
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  gap: 40px;
  font-family: Noto Sans JP;
  font-size: 18px;
}
.header .logo-and-search .input-with-menu .menu a {
  text-decoration-line: none;
  color: #000;
}
.header .logo-and-search .input-with-menu .menu a:hover {
  font-weight: bold;
  text-decoration-line: underline;
}
.header #carousel {
  margin: auto;
  /* 居中 */
  width: 1200px;
  /* 设置宽度 */
  position: relative;
  /* 相对定位 */
  overflow: hidden;
  /* 超出隐藏 */
  height: 300px;
}
@keyframes switch {
  /* 制定动画规则 */
  0%,
  13% {
    left: 0;
  }
  27%,
  41% {
    left: -1200px;
  }
  55%,
  69% {
    left: -2400px;
  }
  83%,
  100% {
    left: -3600px;
  }
}
.header #carousel img {
  width: 1200px;
  /* 设定大小 按比例缩放 */
}
.header #carousel ul {
  display: flex;
  /* 图片处理为一行 */
  position: absolute;
  /* 设置绝对定位，实现相对于#carousel的绝对定位 */
  animation: switch 15s ease 1s infinite alternate;
  /* 设定动画播放 */
}
.header #carousel ul:hover {
  animation-play-state: paused;
  /* 暂停动画 */
}
.header #carousel ul li {
  cursor: pointer;
  padding: 0;
  margin: 0;
  list-style: none;
}
