* {
  margin: 0;
  padding: 0;
}
.ml-3 {
  margin-left: 12px;
}
.mr-3 {
  margin-right: 12px;
}
.mb-3 {
  margin-bottom: 12px;
}
.mt-3 {
  margin-top: 12px;
}
.mx-3 {
  margin: 0 12px;
}
.my-3 {
  margin: 12px 0;
}
.w-full {
  width: 100%;
}
.text-base {
  font-size: 16px;
}
.text-sm {
  font-size: 14px;
}
.text-xs {
  font-size: 12px;
}
.flex {
  display: flex;
}
.justify-between {
  justify-content: space-between;
}
.items-end {
  align-items: flex-end;
}
.flex-col {
  flex-direction: column;
}
.items-center {
  align-items: center;
}
.object-cover {
  object-fit: cover;
}
.justify-center {
  justify-content: center;
}
.footer {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.footer-content {
  display: flex;
  gap: 40px;
  margin: 0 auto;
  margin-bottom: 15px;
}
.footer-content-diliver {
  display: flex;
  flex-direction: column;
  width: 447px;
}
.footer-content-diliver img {
  width: 100%;
}
.footer-content-diliver a {
  font-size: 12px;
  color: #fe9469;
  text-decoration: none;
  margin: 5px;
  margin-bottom: 10px;
}
.footer-content-diliver .diliver-detail {
  display: flex;
  align-items: center;
  border: 2px solid #f08809;
  padding: 3px 5px;
}
.footer-content-diliver .diliver-detail-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 5px;
  gap: 5px;
}
.footer-content-diliver .diliver-detail-text .item-text {
  margin: 0;
}
.footer-content .item-title {
  font-family: Noto Sans JP;
  font-size: 14px;
  font-weight: bold;
  color: #f01303;
  white-space: nowrap;
}
.footer-content .item-title span {
  margin-right: 5px;
}
.footer-content .item-text {
  display: flex;
  margin-top: 10px;
  margin-bottom: 20px;
}
.footer-content .item-text-circle {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #b4b4b4;
  margin-top: 2px;
  margin-right: 12px;
}
.footer-content .item-text-content {
  flex: 1;
  font-family: Noto Sans JP;
  font-size: 12px;
  font-weight: 400;
  line-height: 17.38px;
  letter-spacing: 0.15em;
  text-align: left;
  color: #434343;
}
.footer-content-item {
  display: flex;
  flex-direction: column;
  width: 350px;
}
.footer-content-item .right-content {
  margin-left: -18px;
  margin-top: 10px;
}
.footer-content-item .right-content .item-text {
  margin-bottom: 5px;
}
.footer-content-item .text-with-red-bg {
  font-family: Noto Sans JP;
  font-size: 16px;
  font-weight: 700;
  background-color: red;
  color: white;
  width: 180px;
  margin-left: 18px;
}
.footer-content-item .text-and-icon {
  display: flex;
  margin: 10px 0;
}
.footer-content-item .text-and-icon div {
  margin-top: -2px;
}
.footer-content-item .text-and-icon span {
  font-family: Noto Sans JP;
  font-size: 14px;
  font-weight: 600;
  line-height: 20.27px;
  text-align: left;
}
.footer-content-item .text-and-icon p {
  font-size: 12px;
  color: #434343;
}
.footer-content-item .text-and-icon img {
  width: 14px;
  height: 14px;
  margin-right: 5px;
}
.footer footer {
  background-color: #f01303;
  color: white;
  height: 40px;
}
