/* 手动引入 preflight.css */
@import url('./preflight.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* @font-face {
  font-family: 'YEFONT';
  src: url('../fonts/myFont.ttf');
} */


